header {
	nav a:hover:after {
    content: "\1F3C8";
}

}
body { display: flex;
	flex-direction: column;
	color: cyan;
	font-size: 20px;
	background-color: pink;




}
main { display: flex;
	flex-direction: row;
	flex: auto;


}
article { flex: 2;
	overflow-y: auto;
	background-color: black;
	font-color: white;
	
}
aside {
	flex: 1;
	overflow-y: auto;
}

